@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;

  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
